body {
	background: #333333;
}

.login {
	margin-top: 15%;
}

#header {
	background: url(../resources/images/campo.jpg) no-repeat center top;
	background-attachment: relative;
	background-position: center center;
	min-height: 640px;
	width: 100%;
}